---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-full h-full flex flex-col gap-2 justify-center items-center">
    <h1 class="text-6xl font-bold">Problematic 2025</h1>
    <img src="/logo.png" alt="logo" />
    <a href="/login" class="px-12 py-2 bg-blue-500 rounded-xl border border-blue-950">Start Playing</a>
  </div>
</Layout>
