<p id="timer" class="text-xl font-semibold text-red-400">30:00</p>

<script>
  import { timer, decrementTimeRemaining } from "@/store/timer.store";

  document.addEventListener("DOMContentLoaded", () => {
    const timerEl = document.getElementById("timer");
    if (!timerEl) return;

    const formatTime = (time: number) => {
      const minutes = Math.floor(time / 60);
      const seconds = time % 60;
      return `${minutes.toString().padStart(2, "0")}:${seconds
        .toString()
        .padStart(2, "0")}`;
    };

    // Subscribe to store updates re-renders every change
    timer.subscribe((time) => {
      if (time > 0) {
        timerEl.textContent = formatTime(time);
      } else {
        // timerEl.textContent = "Time’s up!";
        timerEl.textContent = "Timer Over";
      }
    });

    // Update the timer every second
    const interval = setInterval(() => {
      if (timer.get() > 0) {
        decrementTimeRemaining();
      } else {
        clearInterval(interval);
        timerEl.classList.replace("text-red-400", "text-red-400");
      }
    }, 1000);
  });
</script>
